/* Universal-elemen */
:root{
    --primary: #2f577e;
    --secondary: #ffffff;
    --icon-color: #F1C40F;
    --text-color:  #ecf0f1;
    --text-color-secondary: #000000;
}

*{
    list-style-type: none;
    text-decoration: none !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body{
    background-color: #F0F0F0 !important;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    color: var(--text-color);
    box-shadow: inset 0 0 1px gray;
}

::-webkit-scrollbar-thumb{
    background: rgb(47, 87, 126);
    background: linear-gradient(180deg, rgba(236,240,241,1) 15%, rgba(47, 87, 126,1) 84%);
    border-radius: 10px;
}
/* Universal-elemen */

/* Navbar Start*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 2px 10px;
    height: 80px;
    right: 0;
    left: 0;
    z-index: 99;
    transition: 0.3s;
}

header.sticky{
    padding: 2px 10px;
    background-color: var(--primary);
}

.identitas{
    display: flex;
    margin: 10px;
    gap: .5rem;
}

.logo{
    align-content: center;
    height: 80px;
}

.title{
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title h3{
    margin: 0;
    color: var(--secondary);
}

.title h3 span{
    color: var(--icon-color);
}

.title p{
    margin: 0;
    color: var(--icon-color);
}

.nav-menu-right{
    display: flex;
    height: 80px;
    align-items: center;
}

.dropdown-center .dropdown-toggle {
    background-color: rgba(255, 255, 255, 0) !important;
    color: var(--secondary) !important;
    border: none !important;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.dropdown-center .dropdown-toggle:hover {
    background-color: var(--icon-color) !important;
    color: #ffffff !important;
    border-radius: 5px;
}

.dropdown-center .dropdown-menu {
    background-color: var(--secondary) !important;
    border: 1px solid var(--secondary) !important;
    border-radius: 5px !important;
    margin-top: 5px;
    padding: 0;
}

.dropdown-center .dropdown-item {
    color: var(--text-color-secondary) !important;
    padding: 10px 20px;
    font-size: 16px;
}

.dropdown-center .dropdown-item:hover {
    background-color: var(--icon-color) !important;
    color: #ffffff !important;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.nav-menu{
    padding-top: 15px;
    margin-left: -5px;
}

.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-menu ul li a{
    display: inline-block;
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Segoe UI', sans-serif;
}

.nav-menu ul li a::after{
    content: '';
    display: block;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--icon-color);
    transform: scaleX(0);
    transition: .2s linear;
}

.nav-menu ul li a:hover::after{
    transform: scaleX(.5);
}

.nav-extra{
    align-content: center;
    height: 80px;
    padding-top: 10px;
}

.nav-extra ul{
    display: flex;
    gap: 1rem;
    margin-right: 20px;
}

.icons{
    color: var(--icon-color);
    font-size: 30px;
}

#bars{
    display: none;
}

#share:hover{
    animation: woosh 1.5s;
}

@keyframes woosh{
    0%{transform:rotateZ(0deg);
    }25%{
        transform: rotateZ(30deg);
    }80%{
        transform: rotateZ(-30deg);
    }100%{
        transform: rotateZ(0deg);
    }
}
/* Navbar End */

/* Greeting */
.outer-greeting{
    background-image: url("landing1.jpg");
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
}

.outer-greeting::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.welcome{
    height: fit-content;
    margin-top: 70px;
    color: var(--secondary);
    text-align: center;
    margin-bottom: 220px;
    z-index: 2;
}

.welcome span{
    font-family: "Italiana", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: var(--secondary);
}

.greeting{
    margin-top: 1rem;
    width: 100%;
    align-content: center;
    text-align: center;
    z-index: 2;
}

.greeting h1{
    font-size: 8rem;
    font-family: "Italiana", sans-serif;
    font-weight: 800;
    color: var(--secondary);
}

.greeting h1 span{
    color: var(--icon-color);
}

.greeting h5{
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--secondary);
}

.info-panel{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 50px;
    background-color: var(--secondary);
}

.text-animation{
    width: 100%;
    font-family: "EB Garamond";
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 10s infinite;
}

.outer-line{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow{
    animation: mantul 2s infinite;
    margin-bottom: 5vh;
}

.arrow a{
    color: var(--secondary);
}

.information{
    padding: 10px;
    background-color: var(--primary);
}

.information h1{
    color: var(--secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.accordion-button:focus,
.accordion-button:active,
.accordion-button[aria-expanded="true"] {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: inherit !important;
    text-decoration: none !important;
}

@keyframes typing{
    0% {
        width: 0%;
    }60% {
        width: 100%;
    } 100%{
        width: 0%;
    }
}

@keyframes mantul{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

@keyframes sruuut {
    0%, 100% {
        background-position: 0% 100%;
    }25% {
        background-position: 0% 50%;
    }50% {
        background-position: 0% 0%;
    }75%{
        background-position: 0% 50%;
    }
}


/* Greeting */

/* Main */
.article{
    scroll-margin-top: 160px;
}

.navbar-kiri{
    background-color: var(--primary) !important;
    top: 100px;
    width: 20vw;
    height: fit-content;
}

.navbar-kiri ul li a{
    color: var(--secondary) !important;
}

.navbar-kiri ul li a{
    display: inline-block;
    color: var(--text-color-secondary);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Segoe UI', sans-serif;
}

.navbar-kiri ul li a::after{
    content: '';
    display: block;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--icon-color);
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: .2s linear;
}

.navbar-kiri ul li a:hover::after{
    transform: scaleX(.5);
}
/* Main-end */

/* Layanan */
.services {
    width: 100%;
    height: 300px;
    background-image: url('landing1.jpg');
    background-position: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.services h1{
    color: var(--text-color-secondary);
    font-size: 6rem;
    font-family: italiana;
    font-weight: 900;
}

.services h5{
    color: var(--secondary);
    font-family: EB Garamond;
    font-size: 1.5rem;
    font-weight: 500;
}

.arrow2{
    animation: mantul 2s infinite;
}

.arrow2 a{
    color: var(--text-color-secondary);
}

.circle{
    display: inline-block;
    border: var(--icon-color) solid 4px;
    border-radius: 50%;
    width: 8rem;
    margin: auto;
    height: 8rem;
    color: var(--secondary);
    background-color: var(--primary);
}

.circle:hover{
    transition: .3s ease-in-out;
    background-color: #4e8fcf;
    cursor: pointer;
    transform: translateY(-10px) !important;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.circle i{
    margin-top: 2.75rem;
}
/* Layanan-end */

/* footer start*/
footer{
    background-color: #2f577e;
    color: var(--secondary);
    border-top: var(--icon-color) solid 3px;
}
/* footer end */

/* Media queries */
/* Laptop */
@media (min-width: 1025px){
    html {
        font-size: 90%;

        /* .nav-menu{
        display: none;
        } */
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px){
    html {
        font-size: 90%;

        .icons{
            font-size: 30px;
        }

        .nav-menu{
            position: absolute;
            top: 91%;
            right: -100%;
            background-color: var(--primary);
            width: 12.5rem;
            height: 100vh;
            color: var(--secondary);
        }
        
        .nav-menu ul li a{
            color: var(--text-color);
            padding: 0.5rem;
            margin: 0.2rem;
            font-size: 1.1rem;
        }

        .nav-menu.active{
            display: block;
            right: 0;
            transition: .5s ease-in-out;
        }

        .nav-menu ul{
            display: block;
        }

        .navbar-kiri{
            width: 40vw;
        }

        .main-kanan{
            padding-left: 0 !important;
        }

        .nav-menu ul li a::after{
            transform-origin: 0 0;
        }

        .nav-menu ul li a:hover::after{
            transform: scaleX(0.5);
        }

        #bars{
            display: inline-block;
        }
    }
}

/* Mobile Phone */
@media (max-width: 600px){
    html {
        font-size: 80%;

        header{
            height: 70px;
        }

        .dropdown-center{
            display: none;
        }

        #share{
            font-size: 1.75rem;
        }

        .identitas img{
            height: 40px;
            width: 40px;
        }

        .nav-menu{
            position: absolute;
            top: 91%;
            right: -100%;
            background-color: var(--primary);
            width: 12.5rem;
            height: 100vh;
            color: var(--secondary);
        }
        
        .nav-menu ul li a{
            color: var(--text-color);
            padding: 0.5rem;
            margin: 0.2rem;
            font-size: 1.1rem;
        }

        .nav-menu.active{
            display: block;
            right: 0;
            transition: .5s ease-in-out;
        }

        .nav-menu ul{
            display: block;
        }

        .navbar-kiri{
            width: 40vw;
        }

        .main-kanan{
            padding-left: 0 !important;
        }

        .nav-menu ul li a::after{
            transform-origin: 0 0;
        }

        .nav-menu ul li a:hover::after{
            transform: scaleX(0.5);
        }

        #bars{
            display: inline-block;
            font-size: 1.75rem;
        }
    }
}